html, body{
    height: 100%;
}

body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(36, 110, 26) 0%, rgb(12, 58, 6) 100%);
    color: #fff;

}